<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Admin page">
    <title>Dashboard</title>
    <link rel="stylesheet" href="AdminP.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<!-- Comments: -->
<section class ="header">
    <nav>
       <a href="AdminP.html"><img src=images/logo3.png></a>
        <div class="links">
            <ul>
                <li> <a href="">Manage Courses</a></li>
                <li> <a href="">Manage Users</a></li>
                <li> <a href="">Email</a></li>
                <li> <a href=""></a></li>
            </ul>
        </div>
    </nav>
    <div class="text-box">
        <h1>Welcome
        </h1>

    </div>
</section>


</header>
<main>

</main>
<hr/>
<hr/>
<br/>
<footer>

</footer>
</body>
</html>