<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%
        }
        td,th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8">
    <title>Course list</title>

</head>
<form action="/addCourse/" method ="post">
    {% csrf_token %}
        <input type="text" name="name">
        <input type="submit" value="Add Course name">
</form>
<body>
<div style="overflow-y: auto;">
<table>
  <tr>
    <th>Courses</th>
    <th>prerequisite</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>CS 351</td>
    <td>CS 251,MTH 231</td>
    <td>Data structure and Algorithm</td>
  </tr>
  <tr>
    <td>CS 337</td>
    <td>CS 251</td>
    <td>System Programming</td>
  </tr>
  <tr>
    <td>CS 535</td>
    <td>CS 351</td>
    <td>Algorithm Design and Analysis</td>
  </tr>
  <tr>
    <td>CS 537</td>
    <td>CS 337</td>
    <td>Introduction to OperatingSystem</td>
  </tr>
  <tr>
    <td>CS 595</td>
    <td>CS 351, CS361 and 6 credit </td>
    <td>Capstone Project</td>
  </tr>
  <tr>
    <td>EAS 200</td>
    <td>Sophomore standing</td>
    <td>None</td>
  </tr>
  <tr>
    <td>MATH 231</td>
    <td>MATH 221, MATH 180</td>
    <td>Calculus II</td>
  </tr>
  <tr>
    <td>CHEM 104</td>
    <td>CHEM 102</td>
    <td>General Chemistry and Qualitative Analysis</td>
  </tr>

</table>
 <ul>
     {% for i in all_courses %}
     <li>{{ i.name }}
     </li>
     {% endfor %}
 </ul>
</div>
</body>
</html>