<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Course creator</title>
      {% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'admin/style.css' %}">
   </head>
   <body style= "border:black;">
<p><strong>Course Creation</strong></p>

      <form action="" method="post">
         {% csrf_token %}
          <p>
             <input name="courseName" type="text" placeholder="Course Name" /><br />
             <input name="courseID" type="text" placeholder="Course Number" /><br />
          </p>
         <p><input type="submit" /></p>
      </form>
    <img border = "0" src="https://www.clker.com/cliparts/q/O/s/c/U/8/logout-button-png.svg.hi.png" alt="logout button" width="125" height="50">
    </a>
   <br>
   <a href="/supervisor"> Go back To Admin Page </a>
         <div>
         {%  for message in messages %}
         <h3> {{message}}</h3>
         {% endfor %}
      </div>
</body>
</html>